<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en'}}">
  
{%- include head.html -%}
  
<body>

  {%- include header.html -%}
  
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      
      {%- include about.html -%}
      {%- include education.html -%}
      {%- include workingon.html -%}
      
<!--       {%- for section in site.content -%}
        <div class="container {{ section.layout }}-container">
          <h3>{{ section.title }}</h3>
          {% include {{ section.layout | prepend: "section-" | append: ".html" }} content=section.content %}
        </div>
      {%- endfor -%} -->
      {%- for section in site.content_projects -%}
        <div class="container {{ section.layout }}-container-projects">
          <h3>{{ section.title }}</h3>
          {% include {{ section.layout | prepend: "section-" | append: ".html" }} content=section.content %}
        </div>
      {%- endfor -%}
      {%- for section in site.content_works -%}
        <div class="container {{ section.layout }}-container-works">
          <h3>{{ section.title }}</h3>
          {% for con in section.content %}
            <h4> {{ con.title }}</h4>
            <p>
              <b> {{ con.sub_title }}</b>
            </p>
            <p>{{ con.description }}</p>
          {%- endfor -%}
        </div>
      {%- endfor -%}
      
    </div
  </main>
  
</body>

</html>
